.letter {
    font-size: 25px;
    background: red;
    display: inline-block;
}
.letter:hover{
    transform: rotate(45deg);
    transition:  0.2s;
}
.letter:first-letter{
    font-size: 200%;
}
.line:first-line {
    font-style: italic;
}